*/__pycache__
*/.idea
**/*.tex
.idea/
tests/__pycache__
/build
/release
sources/build
TaskData/periodic-set-*
TaskData/*/periodic-set-*
TaskData/dagTasks/*
TaskData/*/dag-set*
TaskData/N*/*
CompareWithBaseline/data_buffer_energy_task_number.txt
CompareWithBaseline/time_task_number.txt
Visualize/currGraph.gv.pdf
Visualize/currGraph.gv
.vscode
.editorconfig
**/currGraph.gv.pdf
**/currGraph.gv

# ignore batch logs
**/slurm-*.out
**/Batch*.out
**/ARC_Backup-*/
**/ARC_Results_Backup-*/
TaskData/configs.log

# ignore temporary batch results
CompareWithBaseline_deprecated/
**/Initial_Res
**/NLP_Res
**/OrderOpt_Res
**/OrderOptWithoutScheudleOpt_Res
**/Verucchi_Res
**/Verucchi20_Res
**/dagTasks
**/scripts_and_figures_backup
**/SensorFusionTasksets
**/RTDATasksets
**/TOM_Res
**/OrderOpt1LP_Res
**/OrderOpt_Res_LoopCount
**/OrderOpt1LP_Res_LoopCount
**/TOM_Res_LoopCount
**/TOM_Fast_Res
**/TOM_FastLP_Res
**/TOM_Fast_Res_LoopCount
**/TOM_FastLP_Res_LoopCount

